# Core
Django[argon2] >=5.2, <5.3  # Django framework
python-dotenv==1.2.1  # Load constant onto .env

# Async Tasks
celery==5.5.3  # Back processing

# GraphQL API
graphene==3.4.3  # Support for Graphql
graphene-django==3.2.3  # Graphql Django Wrapper

# REST API
fastapi==0.120.4
pydantic==2.12.3
uvicorn[standard]==0.38.0
